<div class="container">
  <form action="/login" method="GET">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h4>Welcome back.</h4>
            <input type="text" id="username" name="username" class="form-control input-sm chat-input" placeholder="username" />
            </br>
            <input type="password" id="password" name="password" class="form-control input-sm chat-input" placeholder="password" />
            </br>
            <div class="wrapper">
            <!-- <span class="group-btn">
                <a href="/login" class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></a>
            </span> -->
            <button type="submit" class="btn btn-primary">Login</button>
            </div>
            </div>
        </div>
    </div>
  </form>
</div>