<div class="container">
  <form action="/registro" method="GET">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h4>Registro de usuarios.</h4>
            <input type="text" id="nombre" name="nombre" class="form-control input-sm chat-input" placeholder="Nombre" />
            </br>
            <input type="text" id="apellido" name="apellido" class="form-control input-sm chat-input" placeholder="Apellido" />
            </br>
            <input type="text" id="username" name="username" class="form-control input-sm chat-input" placeholder="Nombrede usuario" />
            </br>
            <input type="password" id="password" name="password" class="form-control input-sm chat-input" placeholder="Password" />
            </br>
            <input type="text" id="categoria" name="categoria" class="form-control input-sm chat-input" placeholder="Categoria" />
            </br>
            <input type="text" id="email" name="email" class="form-control input-sm chat-input" placeholder="Email" />
            </br>
            <div class="wrapper">
            <!-- <span class="group-btn">
                <a href="/login" class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></a>
            </span> -->
            <button type="submit" class="btn btn-primary">Registro</button>
            </div>
            </div>
        </div>
    </div>
  </form>
</div>